.App {
    
    text-align: center;
    background-color: #3AAFA9;
  
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  
   
  }
  
  .App-header {
    background-color: #3AAFA9;
    padding: 20px;
    color: #FEFFFF;
    text-align: center;
  }
  
  .App-title {
    font-size: 1.5em;
    display: flex;
    flex: 10;
    justify-content: center;
    align-items: center;
  }
  
  .App-intro {
    font-size: large;
  }
  
  .App-body {
    background-color: #3AAFA9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .Tab-container {
    display: flex;
  
  
  }
  
  body {
    background-color: #3AAFA9;
   
    justify-content: center;
    align-items: center;
    
  }
  
  .Space-under-tabs {
  
    display: flex;
    padding: 50px;
  
    margin-bottom: 50px;
  
  }
  
  .aboutpar {
    display: flex;
    flex: 10;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
  
  
  }
  
  .Space-under-about-text {
  
  
    display: flex;
    padding: 50px;
  
    margin-bottom: 250px;
  
  }
  
  .Interestspar {
    display: flex;
    flex:10;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
  
  }
  
  .Space-under-interests-text {
    display: flex;
    padding: 50px;
  
    margin-bottom: 250px;
  
  
  }
  
  .Experiencespar {
    display: flex;
    flex: 10;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
  }
  
  .ExperiencesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
   
  .Space-under-experiences-container {
    display: flex;
    padding: 50px;
  
    margin-bottom: 300px;
  
  }
  
  .ContactPar {
    color: white;
  }
  
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  